Repository IvanSunjg/NewsGraph: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/backend-project" --dockerfile "${CI_PROJECT_DIR}/backend-project/Dockerfile" --destination "${IMAGE_NAME}-backend:${CI_COMMIT_REF_NAME}"

build_frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/react-frontend" --dockerfile "${CI_PROJECT_DIR}/react-frontend/Dockerfile" --destination "${IMAGE_NAME}-frontend:${CI_COMMIT_REF_NAME}"

data generator pipeline
  .gitignore
  backend-project/data/data_utils.py
  backend-project/data/generate_data.py
  backend-project/data/paper-list.json
  backend-project/src/dummy_server/resources/process.py
Due: build_backend

first commint on developmental state paper list
  backend-project/data/paper-list.json
Due: build_backend

Abstract version
  .gitignore
  backend-project/data/data_utils.py
  backend-project/data/generate_data.py
  backend-project/data/paper-list.json
  backend-project/src/dummy_server/resources/process.py
Due: build_backend

utilities for news collections
  backend-project/setup.py
  backend-project/src/dummy_server/resources/news_utils.py
  backend-project/src/dummy_server/resources/paper_utils.py
  backend-project/src/dummy_server/resources/process.py
  backend-project/src/dummy_server/resources/process_news.py
Due: build_backend

splitting news and abstracts
  .gitignore
  backend-project/setup.py
  backend-project/src/dummy_server/resources/entailment.py
  backend-project/src/dummy_server/resources/filtering.py
  backend-project/src/dummy_server/resources/news_utils.py
  backend-project/src/dummy_server/resources/paper_utils.py
  backend-project/src/dummy_server/resources/process_abstract.py
  backend-project/src/dummy_server/resources/process_news.py
  backend-project/src/dummy_server/resources/scatter_data.py
Due: build_backend

news pipeline
  backend-project/src/dummy_server/resources/news_utils.py
  backend-project/src/dummy_server/resources/paper_utils.py
  backend-project/src/dummy_server/resources/process_news.py
Due: build_backend

minor issue
  backend-project/src/dummy_server/resources/news_utils.py
Due: build_backend

new front-end
  backend-project/src/dummy_server/resources/paper_utils.py
  react-frontend/README.md
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/App.css
  react-frontend/src/App.js
  react-frontend/src/App.test.js
  react-frontend/src/App.tsx
  react-frontend/src/components/DataChoice.tsx
  react-frontend/src/components/ScatterPlot.css
  react-frontend/src/components/ScatterPlot.tsx
  react-frontend/src/components/utils.ts
  react-frontend/src/index.js
  react-frontend/src/react-app-env.d.ts
  react-frontend/src/reportWebVitals.js
  react-frontend/src/router/apiClient.ts
  react-frontend/src/router/resources/data.ts
  react-frontend/src/setupTests.js
  react-frontend/src/types/data.ts
  react-frontend/src/types/margin.ts
Due: build_backend, build_frontend

switch to typescript
  react-frontend/README.md
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/App.test.tsx
  react-frontend/src/App.tsx
  react-frontend/src/index.tsx
  react-frontend/src/react-app-env.d.ts
  react-frontend/src/reportWebVitals.ts
  react-frontend/src/setupTests.ts
  react-frontend/tsconfig.json
Due: build_frontend

FrontEndDevelopment
  backend-project/setup.py
  backend-project/src/dummy_server/resources/__init__.py
  backend-project/src/dummy_server/resources/entailment.py
  backend-project/src/dummy_server/resources/news_utils.py
  backend-project/src/dummy_server/resources/paper_utils.py
  backend-project/src/dummy_server/resources/process_abstract.py
  backend-project/src/dummy_server/resources/process_news.py
  backend-project/src/dummy_server/resources/scatter_data.py
  backend-project/src/dummy_server/resources/template_data.py
  backend-project/src/dummy_server/resources/test.py
  backend-project/src/dummy_server/router/routes.py
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/App.css
  react-frontend/src/App.test.tsx
  react-frontend/src/App.tsx
  react-frontend/src/components/AppAppBar.tsx
  react-frontend/src/components/FAQ.tsx
  react-frontend/src/components/Features copy.tsx
  react-frontend/src/components/Features.css
  react-frontend/src/components/Features.tsx
  react-frontend/src/components/Glyph.js
  react-frontend/src/components/Graph.js
  react-frontend/src/components/Hero.tsx
  react-frontend/src/components/Links.js
  react-frontend/src/components/Template.tsx
  react-frontend/src/components/ToggleColorMode.tsx
  react-frontend/src/getLPTheme.tsx
  react-frontend/src/types/Graph.ts
Due: build_backend, build_frontend

links
  react-frontend/src/components/Features.tsx
  react-frontend/src/components/Glyph.js
  react-frontend/src/components/Links.js
Due: build_frontend

links color change
  react-frontend/src/App.tsx
  react-frontend/src/components/Links.js
Due: build_frontend

final change
  backend-project/src/dummy_server/resources/paper_utils.py
  backend-project/src/dummy_server/resources/process_news.py
  backend-project/src/dummy_server/resources/test.py
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/App.tsx
  react-frontend/src/components/AppAppBar.tsx
  react-frontend/src/components/FAQ.tsx
  react-frontend/src/components/Features copy.tsx
  react-frontend/src/components/Features.tsx
  react-frontend/src/components/Glyph.js
  react-frontend/src/components/Graph.js
  react-frontend/src/components/Hero.tsx
  react-frontend/src/components/Links.js
  react-frontend/src/components/logo.svg
Due: build_backend, build_frontend

template
  .gitignore
  backend-project/data/articles/template/article2claims.json
  backend-project/data/articles/template/articles.jsonl
  backend-project/data/articles/template/articles_with_links.json
  backend-project/data/articles/template/claims_positions.json
  backend-project/data/articles/template/link_graphs.json
Due: build_backend

delete test.py
  backend-project/src/dummy_server/resources/test.py
Due: build_backend

Update README.md
  README.md
Due: none

Add files via upload
  LLM_Pipeline.pdf
  Verification_Pipeline.pdf
Due: none

PNG files
  LLM_Pipeline.pdf
  LLM_Pipeline.png
  Verification_Pipeline.pdf
  Verification_Pipeline.png
Due: none

abstracts
  backend-project/src/dummy_server/resources/process_abstract.py
Due: build_backend

Path conditions:
  build_backend: any of: backend-project/**/*
  build_frontend: any of: react-frontend/**/*
